{% extends '::base.html.twig' %}

{% block sectionlinks %}
	<a href="{{ path('vivait_document_maintenance_letters_new') }}" class="btn ajax-dialog" title="Add Data Template"><i class="glyphicon glyphicon-plus-sign"></i> Add Document</a>
{% endblock %}
{% block sectiontitle %}
	Mail Merge Documents
{% endblock %}
{% block section %}
<div class="row">
    <div class="col-md-12">
		{% if db | length > 0 %}
			<table class="table table-condensed table-bordered table-hover">
				<thead>
				<tr>
					<th>Category</th>
					<th>Name</th>
					<th>Enabled</th>
					<th>Download</th>
				</tr>
				</thead>
				{% for row in db %}
					<tr>
						<td>{{ row.category }}</td>
						<td><a href="{{ path('vivait_document_maintenance_letters_edit', {'id': row.id }) }}" class="ajax-dialog">{{ row.name }}</a></td>
						<td>{{ row.enabled|yesnoicon|raw }}</td>
						<td><a href="{{ asset(row.webpath) }}">Download</a></td>
					</tr>
				{% endfor %}
			</table>
		{% else %}
			<p>There are no letters set up</p>
		{% endif %}  </div></div><!--/row-->
{% endblock %}
